*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(black,rgb(0, 0, 80)) no-repeat center center fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    overflow: hidden;
}
.flake{
    background-color: white;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.flakeM{
    opacity: .7;
}
.flakeS{
    opacity: .3;
}
span{
    text-align: center;
    color: white;
    position: relative;
    left: 50%;
    font-size: 38px;
}
#flake1{
    width: 10px;
    height: 10px;
    top: -20px;
    animation-name: fall1;
    animation-duration: 5.6s;
    animation-iteration-count: infinite;
}
@keyframes fall1{
    0%{
       top: -50px;
       left: 0%;
    }
    100%{
       top: 1100px;
       left: 0%;
    }
}
 #flake2{
    width: 9px;
    height: 9px;
    top: -20px;
    left: 10%;
    animation-name: fall2;
    animation-duration: 8.2s;
    animation-iteration-count: infinite;
}
@keyframes fall2{
    0%{
       top: -20px;
       left: 10%;
    }
    100%{
       top: 1100px;
       left: 15%;
    }
}
#flake3{
    width: 10px;
    height: 10px;
    top: -70px;
    left: 20%;
    animation-name: fall3;
    animation-duration: 4.8s;
    animation-iteration-count: infinite;
}
@keyframes fall3{
    0%{
       top: -70px;
       left: 20%;
    }
    100%{
       top: 1100px;
       left: 23%;
    }
}
#flake4{
    width: 9px;
    height: 9px;
    top: -20px;
    left: 25%;
    animation-name: fall4;
    animation-duration: 6.6s;
    animation-iteration-count: infinite;
}
@keyframes fall4{
    0%{
       top: -20px;
       left: 25%;
    }
    100%{
       top: 1100px;
       left: 26%;
    }
}
#flake5{
    width: 10px;
    height: 10px;
    top: -20px;
    left: 30%;
    animation-name: fall5;
    animation-duration: 5.3s;
    animation-iteration-count: infinite;
}
@keyframes fall5{
    0%{
        top: -90px;
        left: 30%;
    }
    100%{
       top: 1100px;
       left: 38%;
    }
}
#flake6{
    width: 9px;
    height: 9px;
    top: -20px;
    left: 40%; 
    animation-name: fall6;
    animation-duration: 6.8s;
    animation-iteration-count: infinite;
}
@keyframes fall6{
    0%{
       top: -50px; 
    }
    100%{
       top: 1100px;
    }
}
#flake7{
    width: 10px;
    height: 10px;
    top: -20px;
    left: 50%; 
    animation-name: fall7;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes fall7{
    0%{
       top: -50px;
       left: 50%;
    }
    100%{
       top: 1100px;
       left: 65%;
    }
}
#flake8{
    width: 9px;
    height: 9px;
    top: -20px;
    left: 60%;
    animation-name: fall8;
    animation-duration: 8.3s;
    animation-iteration-count: infinite;
}
@keyframes fall8{
    0%{
       top: -10px;
       left: 60%;
    }
    100%{
       top: 1100px;
       left: 66%;
    }
}
#flake9{
    width: 10px;
    height: 10px;
    top: -20px;
    animation-name: fall9;
    animation-duration: 5.7s;
    animation-iteration-count: infinite;
}
@keyframes fall9{
    0%{
       top: -60px;
       left: 75%;
    }
    100%{
       top: 1100px;
       left: 77%;
    }
}
#flake10{
    width: 9px;
    height: 9px;
    top: -20px;
    animation-name: fall10;
    animation-duration: 7.4s;
    animation-iteration-count: infinite;
}
@keyframes fall10{
    0%{
       top: -20px;
       left: 83%;
    }
    100%{
       top: 1100px;
       left: 97%;
    }
}
#flake11{
    width: 6px;
    height: 6px;
    top: -20px;
    animation-name: fall11;
    animation-duration: 15.4s;
    animation-iteration-count: infinite;
}
@keyframes fall11{
    0%{
       top: -530px;
       left: 0%;
    }
    100%{
       top: 1100px;
       left: 0%;
    }
}
 #flake12{
    width: 6px;
    height: 6px;
    top: -20px;
    left: 10%;
    animation-name: fall12;
    animation-duration: 10.3s;
    animation-iteration-count: infinite;
}
@keyframes fall12{
    0%{
       top: -20px;
       left: 10%;
    }
    100%{
       top: 1100px;
       left: 15%;
    }
}
#flake13{
    width: 6px;
    height: 6px;
    top: -20px;
    left: 20%;
    animation-name: fall13;
    animation-duration: 12.7s;
    animation-iteration-count: infinite;
}
@keyframes fall13{
    0%{
       top: -10px;
       left: 20%;
    }
    100%{
       top: 1100px;
       left: 23%;
    }
}
#flake14{
    width: 6px;
    height: 6px;
    top: -20px;
    left: 25%;
    animation-name: fall14;
    animation-duration: 11.6s;
    animation-iteration-count: infinite;
}
@keyframes fall14{
    0%{
       top: -20px;
       left: 25%;
    }
    100%{
       top: 1100px;
       left: 26%;
    }
}
#flake15{
    width: 6px;
    height: 6px;
    top: -20px;
    left: 30%;
    animation-name: fall15;
    animation-duration: 14.3s;
    animation-iteration-count: infinite;
}
@keyframes fall15{
    0%{
        top: -90px;
        left: 30%;
    }
    100%{
       top: 1100px;
       left: 38%;
    }
}
#flake16{
    width: 6px;
    height: 6px;
    top: -20px;
    left: 40%; 
    animation-name: fall16;
    animation-duration: 10.8s;
    animation-iteration-count: infinite;
}
@keyframes fall16{
    0%{
       top: -50px; 
    }
    100%{
       top: 1100px;
    }
}
#flake17{
    width: 6px;
    height: 6px;
    top: -20px;
    left: 50%; 
    animation-name: fall17;
    animation-duration: 12.5s;
    animation-iteration-count: infinite;
}
@keyframes fall17{
    0%{
       top: -20px;
       left: 50%;
    }
    100%{
       top: 1100px;
       left: 65%;
    }
}
#flake18{
    width: 6px;
    height: 6px;
    top: -20px;
    left: 60%;
    animation-name: fall18;
    animation-duration: 13.9s;
    animation-iteration-count: infinite;
}
@keyframes fall18{
    0%{
       top: -30px;
       left: 60%;
    }
    100%{
       top: 1100px;
       left: 66%;
    }
}
#flake19{
    width: 6px;
    height: 6px;
    top: -20px;
    animation-name: fall19;
    animation-duration: 15.7s;
    animation-iteration-count: infinite;
}
@keyframes fall19{
    0%{
       top: -20px;
       left: 75%;
    }
    100%{
       top: 1100px;
       left: 77%;
    }
}
#flake20{
    width: 6px;
    height: 6px;
    top: -20px;
    animation-name: fall20;
    animation-duration: 14.6s;
    animation-iteration-count: infinite;
}
@keyframes fall20{
    0%{
       top: -20px;
       left: 83%;
    }
    100%{
       top: 1100px;
       left: 97%;
    }
}
#flake21{
    width: 3px;
    height: 3px;
    top: -20px;
    animation-name: fall21;
    animation-duration: 16.4s;
    animation-iteration-count: infinite;
}
@keyframes fall21{
    0%{
       top: -530px;
       left: 0%;
    }
    100%{
       top: 1100px;
       left: 0%;
    }
}
 #flake22{
    width: 3px;
    height: 3px;
    top: -20px;
    left: 10%;
    animation-name: fall22;
    animation-duration: 19.2s;
    animation-iteration-count: infinite;
}
@keyframes fall22{
    0%{
       top: -20px;
       left: 10%;
    }
    100%{
       top: 1100px;
       left: 15%;
    }
}
#flake23{
    width: 3px;
    height: 3px;
    top: -20px;
    left: 20%;
    animation-name: fall23;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes fall23{
    0%{
       top: -10px;
       left: 20%;
    }
    100%{
       top: 1100px;
       left: 23%;
    }
}
#flake24{
    width: 3px;
    height: 3px;
    top: -20px;
    left: 25%;
    animation-name: fall24;
    animation-duration: 17.4s;
    animation-iteration-count: infinite;
}
@keyframes fall24{
    0%{
       top: -20px;
       left: 25%;
    }
    100%{
       top: 1100px;
       left: 26%;
    }
}
#flake25{
    width: 3px;
    height: 3px;
    top: -20px;
    left: 30%;
    animation-name: fall25;
    animation-duration: 19.3s;
    animation-iteration-count: infinite;
}
@keyframes fall25{
    0%{
        top: -90px;
        left: 30%;
    }
    100%{
       top: 1100px;
       left: 38%;
    }
}
#flake26{
    width: 3px;
    height: 3px;
    top: -20px;
    left: 40%; 
    animation-name: fall26;
    animation-duration: 20.5s;
    animation-iteration-count: infinite;
}
@keyframes fall26{
    0%{
       top: -50px; 
    }
    100%{
       top: 1100px;
    }
}
#flake27{
    width: 3px;
    height: 3px;
    top: -20px;
    left: 50%; 
    animation-name: fall27;
    animation-duration: 17.8s;
    animation-iteration-count: infinite;
}
@keyframes fall27{
    0%{
       top: -20px;
       left: 50%;
    }
    100%{
       top: 1100px;
       left: 65%;
    }
}
#flake28{
    width: 3px;
    height: 3px;
    top: -20px;
    left: 60%;
    animation-name: fall28;
    animation-duration: 19.2s;
    animation-iteration-count: infinite;
}
@keyframes fall28{
    0%{
       top: -30px;
       left: 60%;
    }
    100%{
       top: 1100px;
       left: 66%;
    }
}
#flake29{
    width: 3px;
    height: 3px;
    top: -20px;
    animation-name: fall29;
    animation-duration: 17.9s;
    animation-iteration-count: infinite;
}
@keyframes fall29{
    0%{
       top: -20px;
       left: 75%;
    }
    100%{
       top: 1100px;
       left: 77%;
    }
}
#flake30{
    width: 3px;
    height: 3px;
    top: -20px;
    animation-name: fall30;
    animation-duration: 16.3s;
    animation-iteration-count: infinite;
}
@keyframes fall30{
    0%{
       top: -20px;
       left: 83%;
    }
    100%{
       top: 1100px;
       left: 97%;
    }
}
#letter1, #letter2, #letter3, #letter4, #letter5,
#letter6, #letter7, #letter8, #letter9, #letter10,
#letter11, #letter12, #letter13, #letter14, #letter15{
    top: -100px;
    animation-duration: 6.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

#letter1{

    animation-name: letter1;
    animation-delay: 3s;

}
@keyframes letter1{
    0%{
       top: -50px; 
    }
    to{
       top: 30%;
    }
}
#letter2{

    animation-name: letter2;
    animation-delay: 3.5s;
}
@keyframes letter2{
    0%{
       top: -50px; 
    }
    100%{
       top: 30%;
    }
}
#letter3{

    animation-name: letter3;
    animation-delay: 4s;
}
@keyframes letter3{
    0%{
       top: -50px; 
    }
    100%{
       top: 30%;
    }
}
#letter4{

    animation-name: letter4;
    animation-delay: 4.5s;
}
@keyframes letter4{
    0%{
       top: -50px; 
    }
    100%{
       top: 30%;
    }
}
#letter5{

    animation-name: letter5;
    animation-delay: 5s;
}
@keyframes letter5{
    0%{
       top: -50px; 
    }
    100%{
       top: 30%;
    }
}
#letter6{

    animation-name: letter6;
    animation-delay: 5.5s;
}
@keyframes letter6{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter7{

    animation-name: letter7;
    animation-delay: 6s;
}
@keyframes letter7{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter8{

    animation-name: letter8;
    animation-delay: 6.5s;
}
@keyframes letter8{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter9{

    animation-name: letter9;
    animation-delay: 7s;
}
@keyframes letter9{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter10{

    animation-name: letter10;
    animation-delay: 7.5s;
}
@keyframes letter10{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter11{

    animation-name: letter11;
    animation-delay: 8s;
}
@keyframes letter11{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter12{

    animation-name: letter12;
    animation-delay: 8.5s;
}
@keyframes letter12{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter13{

    animation-name: letter13;
    animation-delay: 9s;
}
@keyframes letter13{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter14{

    animation-name: letter14;
    animation-delay: 9.5s;
}
@keyframes letter14{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}
#letter15{

    animation-name: letter15;
    animation-delay: 10s;
}
@keyframes letter15{
    0%{
       top: -50px; 
    }
    100%{
       top: 35%;
    }
}